.fc-daygrid-day-frame{
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.fc-daygrid-day-top {
    display: grid !important;
    width: 100%;
}

/* @media (prefers-color-scheme: dark) {
    .fc-daygrid-day-frame {
      background-color: #000;
      color: #fff;
    }
 } */